#root {
  max-width:100%;
  margin: 0 auto;
  text-align: center;
}

h1{
  color :#E80071;
}

.badge{
  background: #E80071 !important;
}


.add-btn , .edit-btn , .del-btn{
  background-color: #E80071;
  border: #E80071 1px solid;
}
.add-btn:hover , .edit-btn:hover , .del-btn:hover{ 
  border: #E80071 1px solid;
  color: #E80071 !important;
  background:#fff !important;
  transition: all 0.3s ease-in;
}

